html {
	&.is-lock {
		overflow: hidden;
	}
}

body {
	display: flex;
	flex-direction: column;

	font-family: var(--font-family-base);
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6,
p {
	color: var(--color-primary);
}

h1 {
	font-family: var(--font-family-secondary);
	font-size: 70px;

	@include laptop {
		font-size: 50px;
	}
}

h2 {
	font-family: var(--font-family-secondary);
	font-weight: 700;
	font-size: 29px;
}

p {
	font-size: 16px;

	@include laptop {
		font-size: 14px;
	}
}

a,
button,
label,
input,
textarea,
select,
svg * {
	transition-duration: var(--transition-duration);
}

.nuxt-icon {
	margin: 0 !important;
}
