html {
  &.is-lock {
    overflow: hidden;
  }
}

body {
  display: flex;
  flex-direction: column;
  color: var(--color-primary);
  line-height: 1.2;
  font-family: var(--font-family-base);
}

a,
button,
label,
input,
textarea,
select,
svg * {
  transition-duration: var(--transition-duration);
}

.nuxt-icon {
  margin: 0 !important;
}
