@use 'sass:math';

.grid {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	border-top: var(--border-primary);
	border-left: var(--border-primary);

	@include laptop {
		grid-template-columns: repeat(2, 1fr);
	}

	@include mobile {
		grid-template-columns: 1fr;
	}
}

[class*='col-'] {
	border-right: var(--border-primary);
	border-bottom: var(--border-primary);
}

@for $i from 1 through 12 {
	.col-#{$i} {
		grid-column: span #{$i};

		@include laptop {
			grid-column: span 1;
		}

		@include mobile {
			grid-column: span 1;
		}
	}
}
