/* Font families */
.font-base {
  font-family: var(--font-family-base);
}
.font-mono {
  font-family: var(--font-family-secondary);
}

/* Weights */
.font-normal {
  font-weight: 400;
}
.font-bold {
  font-weight: 700;
}
.font-black {
  font-weight: 900;
}

/* Text */
.title-lg {
  @include text-clip;

  font-family: var(--font-family-secondary);
  font-size: 70px;

  @include laptop {
    font-size: 50px;
  }
}

.title-md {
  @include text-clip;

  font-family: var(--font-family-secondary);
  font-weight: 900;
  font-size: 29px;
}

.text-normal {
  font-family: var(--font-family-secondary);
  font-weight: 700;
  font-size: 29px;
}

.text-p {
  font-family: var(--font-family-base);
  font-weight: 400;
  font-size: 16px;

  @include laptop {
    font-size: 14px;
  }
}

.text-label {
  @include text-clip;

  font-family: var(--font-family-secondary);
  font-weight: 400;
  font-size: 20px;
}

.text-item {
  font-family: var(--font-family-secondary);
  font-weight: 400;
  font-size: 16px;
}

/* Spacing */
$spacing-steps: (
  4: 0.25,
  8: 0.5,
  12: 0.75,
  16: 1,
  20: 1.25,
  24: 1.5,
  28: 1.75,
  32: 2,
  36: 2.25,
  40: 2.5,
  44: 2.75,
  48: 3
);

/* Margin */
@each $px, $rem in $spacing-steps {
  .m-#{$px} {
    margin: #{$rem}rem;
  }
  .mt-#{$px} {
    margin-top: #{$rem}rem;
  }
  .mr-#{$px} {
    margin-right: #{$rem}rem;
  }
  .mb-#{$px} {
    margin-bottom: #{$rem}rem;
  }
  .ml-#{$px} {
    margin-left: #{$rem}rem;
  }
  .mx-#{$px} {
    margin-inline: #{$rem}rem;
  }
  .my-#{$px} {
    margin-block: #{$rem}rem;
  }
}

/* Padding */
@each $px, $rem in $spacing-steps {
  .p-#{$px} {
    padding: #{$rem}rem;
  }
  .pt-#{$px} {
    padding-top: #{$rem}rem;
  }
  .pr-#{$px} {
    padding-right: #{$rem}rem;
  }
  .pb-#{$px} {
    padding-bottom: #{$rem}rem;
  }
  .pl-#{$px} {
    padding-left: #{$rem}rem;
  }
  .px-#{$px} {
    padding-inline: #{$rem}rem;
  }
  .py-#{$px} {
    padding-block: #{$rem}rem;
  }
}

/* Gap */
@each $px, $rem in $spacing-steps {
  .gap-#{$px} {
    gap: #{$rem}rem;
  }
}
