.container {
	width: 100%;
	max-width: calc(var(--container-width) + var(--container-padding) * 2);
	margin-inline: auto;
	padding-inline: var(--container-padding);
	padding-bottom: 58px;
	min-height: 100dvh;
}

.visually-hidden {
	@include visually-hidden;
}
