:root {
	--container-width: #{fluid($container-desktop-width, $container-mobile-width)};

	--container-padding: 40px;

	@include laptop-l {
		--container-padding: 16px;
	}

	--color-primary: #333;
	--color-secondary: #515151;
	--color-text-muted: #5b5b5b;
	--color-text-muted-2: #c9c9c9;
	--color-surface: rgba(255, 255, 255, 0.9);
	--color-surface-2: #fff;
	--color-surface-3: #efeeed;
	--color-accent: #000;
	--color-smoke: #a6a6a4;

	--color-border-primary: transparent;
	--color-border-secondary: var(--color-accent);

	--border-radius-big: 16px;
	--border-radius-small: 12px;

	--border-primary: 1px solid var(--color-border-primary);
	--border-secondary: 2px solid var(--color-border-secondary);
	--border-menu-item: 1px solid var(--color-text-muted-2);

	--box-shadow: 4px 4px 8px 0 rgba(33, 32, 20, 0.15);

	--font-family-base: 'Liter', sans-serif;
	--font-family-secondary: 'Geist Mono', sans-serif;

	--transition-duration: 0.2s;
	--swipe-duration: 0.25s;
	--transition-duration-longer: 0.4s;
}
