$laptop-l: 1365px;
$laptop: 1199px;
$tablet-l: 1024px;
$tablet: 768px;
$tablet-s: 650px;
$mobile: 480px;
$mobile-s: 320px;

@mixin laptop-l {
  @media (width <= $laptop-l) {
    @content;
  }
}

@mixin laptop {
  @media (width <= $laptop) {
    @content;
  }
}

@mixin tablet-l {
  @media (width <= $tablet-l) {
    @content;
  }
}

@mixin tablet-above {
  @media (width > $tablet) {
    @content;
  }
}

@mixin tablet {
  @media (width <= $tablet) {
    @content;
  }
}

@mixin tablet-s {
  @media (width <= $tablet) {
    @content;
  }
}

@mixin mobile-above {
  @media (width > $mobile) {
    @content;
  }
}

@mixin mobile {
  @media (width <= $mobile) {
    @content;
  }
}

@mixin mobile-s {
  @media (width <= $mobile-s) {
    @content;
  }
}

@mixin hover($hasActiveEffectOnMobile: true) {
  @media (any-hover: hover) {
    &:hover {
      @content;
    }
  }

  @if $hasActiveEffectOnMobile {
    @media (any-hover: none) {
      &:active {
        @content;
      }
    }
  }
}
